<section class="text-gray-600 body-font pb-10">
    <div class="container px-5 py-10 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <!-- <h2 class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1">DenixLabs</h2> -->
        <h2 class="sm:text-3xl text-2xl font-medium title-font text-gray-900">{{text}}</h2>
        <a
          class="rounded-md bg-indigo-500 px-5 py-2.5 my-4 text-sm font-medium text-white shadow-sm w-40 m-auto hover:shadow-xl hover:bg-indigo-600 transition duration-300"
          href="/contact"
          i18n="@@contactInvite.button">
        Contact Us
        </a>
      </div>
    </div>
  </section>
