<!-- <div id="particles-js">

</div> -->

<section
class="relative bg:black bg-opacity-75 sm:bg-transparent sm:from-black sm:to-black ltr:sm:bg-gradient-to-r rtl:sm:bg-gradient-to-l"
>

<div id="particles-js" class="absolute inset-0 animate__animated animate__fadeIn"></div>
<div
  class="absolute inset-0 bg-gray-900/75 sm:bg-transparent sm:from-gray-900/95 sm:to-gray-900/25 ltr:sm:bg-gradient-to-r rtl:sm:bg-gradient-to-l"
></div>

<div
  class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:h-180 lg:items-center lg:px-12"
>
  <div class="motion-translate-x-in-[0%] motion-translate-y-in-[-136%] motion-opacity-in-[0%] motion-blur-in-[5px] motion-delay-[100ms] motion-delay-[0ms]/translate motion-delay-[0ms]/opacity motion-delay-[0ms]/blur max-w-xl text-center ltr:sm:text-left">
    <h1
      class="bg-gradient-to-r from-green-300 to-indigo-600 bg-clip-text text-3xl font-extrabold text-transparent sm:text-5xl animate__animated animate__fadeInDown">
      <span class="sm:block">Нека изкуственият интелект работи за вас</span>
    </h1>

    <p class="mt-4 max-w-lg text-white sm:text-xl/relaxed animate__animated animate__fadeInUp">
      DenixLabs е мост между науката и бизнеса. Създаваме съвременни и интелигентни системи с изкуствен интелект, които помагат да вземате информирани решения и да автоматизирате рутинни задачи.
    </p>

    <div class="mt-8 flex flex-wrap gap-4 text-center animate__animated animate__fadeInUp animate__delay-1s">
      <a
        href="/contact"
        class="block w-full rounded-sm bg-indigo-500 px-12 py-3 text-sm font-medium text-white shadow-sm focus:ring-3 focus:outline-hidden sm:w-auto hover:shadow-xl hover:bg-indigo-600 transition duration-300">
        Свържи се с нас
      </a>

      <a href="/solutions"
      class="w-full rounded-sm bg-gray-500/10 px-8 py-3 text-sm font-medium text-white
      shadow-sm focus:ring-3focus:outline-hidden sm:w-auto link-arrow inline-flex items-center justify-center text-center
      animate__animated animate__fadeInUp animate__delay-1s"
      href="/services">Научи повече
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </a>
    </div>
  </div>
</div>
</section>


