<div class="mx-auto max-w-lg text-center pt-20">
    <h2 class="text-2xl font-bold text-gray-900 md:text-3xl" i18n="@@whyUseAi.title">
        Why integrate AI into your business?
    </h2>
</div>
<div class="h-xl lg:px-60 py-20 w-full p-4">

    <div class="grid gap-14 md:grid-cols-4 md:gap-5">
      <div class="rounded-xl bg-white p-6 text-center shadow-xl">
        <div
          class="mx-auto flex h-16 w-16 -translate-y-12 transform items-center justify-center rounded-full bg-indigo-500 shadow-lg shadow-bg-indigo-500/40">
          <img ngSrc="icons/decision.svg" class="w-12" alt="Decision icon" width="12" height="12">
        </div>

        <h2 class="text-darken mb-3 text-xl font-medium" i18n="@@whyUseAi.informedDecisions.title">Informed decisions</h2>
        <p class="px-4 text-gray-500" i18n="@@whyUseAi.informedDecisions.description">
            With AI you can transform data from your business and customers into a foundation for making informed decisions.
        </p>
      </div>
      <div data-aos-delay="150" class="rounded-xl bg-white p-6 text-center shadow-xl">
        <div
          class="mx-auto flex h-16 w-16 -translate-y-12 transform items-center justify-center rounded-full shadow-lg bg-indigo-500 shadow-bg-indigo-500/40">
          <img ngSrc="icons/automation.svg" class="w-12" alt="Automation icon" width="12" height="12">
        </div>
        <h2 class="text-darken mb-3 text-xl font-medium" i18n="@@whyUseAi.automation.title">Automation</h2>
        <p class="px-4 text-gray-500" i18n="@@whyUseAi.automation.description">
            With AI you can automate routine tasks and business processes.
        </p>
      </div>
      <div data-aos-delay="300" class="rounded-xl bg-white p-6 text-center shadow-xl">
        <div
          class="mx-auto flex h-16 w-16 -translate-y-12 transform items-center justify-center rounded-full shadow-lg bg-indigo-500 shadow-bg-indigo-500/40">
         <img ngSrc="icons/personalization.svg" class="w-12" alt="Personalization icon" width="12" height="12">
        </div>
        <h2 class="text-darken mb-3 text-xl font-medium" i18n="@@whyUseAi.personalization.title">Personalization</h2>
        <p class="px-4 text-gray-500" i18n="@@whyUseAi.personalization.description">
            With AI you can understand your customers' needs and offer personalized products and services.
        </p>
      </div>
      <div data-aos-delay="300" class="rounded-xl bg-white p-6 text-center shadow-xl">
        <div
          class="mx-auto flex h-16 w-16 -translate-y-12 transform items-center justify-center rounded-full shadow-lg bg-indigo-500 shadow-bg-indigo-500/40">
          <img ngSrc="icons/reduce-cost.webp" class="invert w-12" alt="Reduce cost icon" width="12" height="12">
        </div>
        <h2 class="text-darken mb-3 text-xl font-medium" i18n="@@whyUseAi.reduceCosts.title">Lower costs</h2>
        <p class="px-4 text-gray-500" i18n="@@whyUseAi.reduceCosts.description">
            Direct your resources and personnel to more important tasks and reduce costs with the help of AI.
        </p>
      </div>
    </div>

</div>