<div class="mx-auto max-w-lg text-center pt-20">
    <h2 class="text-2xl font-bold text-gray-900 md:text-3xl">
        Защо да интегрирате AI в бизнеса си?
    </h2>
</div>
<div class="h-xl lg:px-60 py-20 w-full p-4">

    <div class="grid gap-14 md:grid-cols-4 md:gap-5">
      <div class="rounded-xl bg-white p-6 text-center shadow-xl">
        <div
          class="mx-auto flex h-16 w-16 -translate-y-12 transform items-center justify-center rounded-full bg-indigo-500 shadow-lg shadow-bg-indigo-500/40">
          <img src="icons/decision.svg" class="w-12" alt="Decision icon">
        </div>

        <h2 class="text-darken mb-3 text-xl font-medium">Информирани решения</h2>
        <p class="px-4 text-gray-500">
            С AI можете да трансформирате данните от бизнеса и клиентите си в основа за вземане на информирани решения.
        </p>
      </div>
      <div data-aos-delay="150" class="rounded-xl bg-white p-6 text-center shadow-xl">
        <div
          class="mx-auto flex h-16 w-16 -translate-y-12 transform items-center justify-center rounded-full shadow-lg bg-indigo-500 shadow-bg-indigo-500/40">
          <img src="icons/automation.svg" class="w-12" alt="Automation icon">
        </div>
        <h2 class="text-darken mb-3 text-xl font-medium">Автоматизация</h2>
        <p class="px-4 text-gray-500">
            С AI можете да автоматизирате рутинни задачи и бизнес процеси.
        </p>
      </div>
      <div data-aos-delay="300" class="rounded-xl bg-white p-6 text-center shadow-xl">
        <div
          class="mx-auto flex h-16 w-16 -translate-y-12 transform items-center justify-center rounded-full shadow-lg bg-indigo-500 shadow-bg-indigo-500/40">
         <img src="icons/personalization.svg" class="w-12" alt="Personalization icon">
        </div>
        <h2 class="text-darken mb-3 text-xl font-medium">Персонализация</h2>
        <p class="px-4 text-gray-500">
            С AI можете да вникнете в нуждите на клиентите си, да предложите персонализирани продукти и услуги.
        </p>
      </div>
      <div data-aos-delay="300" class="rounded-xl bg-white p-6 text-center shadow-xl">
        <div
          class="mx-auto flex h-16 w-16 -translate-y-12 transform items-center justify-center rounded-full shadow-lg bg-indigo-500 shadow-bg-indigo-500/40">
          <img src="icons/reduce-cost.png" class="invert w-12" alt="Reduce cost icon">
        </div>
        <h2 class="text-darken mb-3 text-xl font-medium">По-малко разходи</h2>
        <p class="px-4 text-gray-500">
            Насочете ресурсите и персонала си към по-важни задачи и намалете разходите с помощта на AI.
        </p>
      </div>
    </div>

</div>