<header class="bg-gray-50 dark:bg-gray-900">
    <div class="p-8 md:p-12 lg:px-16 lg:py-24">
      <div class="mx-auto max-w-lg text-center">
        <h1 class="text-2xl font-bold text-gray-900 md:text-3xl dark:text-white animate__animated animate__fadeInUp">
            Оценка на риска
        </h1>
        <!-- <h3 class="hidden text-gray-500 sm:mt-4 sm:block dark:text-gray-400 animate__animated animate__fadeInUp">
        </h3> -->
      </div>
    </div>
</header>


<section class="mt-20">
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8">
      <div class="grid grid-cols-1 gap-4 md:grid-cols-4 md:items-center md:gap-8">
        <div class="md:col-span-1"></div>

        <div class="max-w-lg md:max-w-none md:col-span-2">
            <h2 class="text-2xl font-semibold text-gray-900 sm:text-3xl">
              Въведение
            </h2>
            <p class="mt-4 text-gray-700">
                Оценката на риска с изкуствен интелект използва интелигентни алгоритми за анализ и
                мониторинг, за да открива дефекти и потенциални проблеми в производствените процеси – например,
                на поточната линия. AI системите не само засичат аномалии, но също така анализират данни в
                реално време и предоставят статистики, които помагат за прогнозиране на възможни рискове.
                Това позволява на бизнеса да реагира своевременно и да предотврати по-големи загуби и аварии.
            </p>
            <p class="mt-4 text-gray-700">
                AI системите извличат данни от различни източници, анализират ги и представят резултатите в лесен за
                разбиране формат, което помага на бизнеса да взема информирани решения и да спести време и ресурси.
            </p>
          </div>
        </div>
    </div>
  </section>

  <section>
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8 mb-20">
      <div class="grid grid-cols-1 gap-4 md:grid-cols-4 md:items-center md:gap-8">

        <div class="md:col-span-1 h-1"></div>

        <div class="md:col-span-2">
          <div class="max-w-lg md:max-w-none">
            <h2 class="text-2xl font-semibold text-gray-900 sm:text-3xl">
              Потребности
            </h2>

            <h3 class="mt-4 font-semibold text-gray-900 text-lg">
                Финансов риск и оценка на кредитоспособността
            </h3>

            <p class="mt-4 text-gray-700">
                AI анализира кредитната история, пазарните условия и други релевантни данни,
                за да оцени кредитния риск на физически или юридически лица. Това позволява на
                банките и финансовите институции да вземат по-информирани решения за отпускане
                на кредити и инвестиции.
                Допринася за:
                </p>
                <ul class="list-inside list-disc">
                    <li>
                        Намаляване на риска от аварии: Ранното откриване на дефекти позволява бърза
                        реакция и предотвратява по-сериозни проблеми.
                    </li>
                    <li>
                        Повишаване на качеството: Автоматизираната оценка осигурява постоянен
                        контрол и по-добро качество на продукцията.
                    </li>
                    <li>
                        Ефективност: Осигурява непрекъснат мониторинг без
                        нужда от постоянно човешко наблюдение.
                    </li>
                    <li>
                        Насочване към стратегическо планиране
                    </li>
                </ul>

            <h3 class="mt-4 font-semibold text-gray-900 text-lg">
                Оценка на оперативния риск и непрекъснатост на бизнеса
            </h3>

            <p class="mt-4 text-gray-700">
                AI може да анализира вътрешните процеси и оперативни данни, за да идентифицира
                потенциални рискове в производството, логистиката и ежедневните операции. Тези анализи
                помагат на мениджърите да предвидят проблеми и да планират мерки за смекчаване, преди
                те да се превърнат в сериозни инциденти.
            </p>
            </div>
        </div>
      </div>
    </div>
  </section>


  <app-contact-invite [text]="'Нека обсъдим твоето решение'"></app-contact-invite>