<header class="bg-gray-50 dark:bg-gray-900">
    <div class="p-8 md:p-12 lg:px-16 lg:py-24">
      <div class="mx-auto max-w-lg text-center">
        <h1 class="text-2xl font-bold text-gray-900 md:text-3xl dark:text-white animate__animated animate__fadeInUp">
            Качествен контрол и разпознаване на дефекти
        </h1>
        <!-- <h3 class="hidden text-gray-500 sm:mt-4 sm:block dark:text-gray-400 animate__animated animate__fadeInUp">
        </h3> -->
      </div>
    </div>
</header>


<section class="mt-20">
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8">
      <div class="grid grid-cols-1 gap-4 md:grid-cols-4 md:items-center md:gap-8">
        <div class="md:col-span-1"></div>

        <div class="max-w-lg md:max-w-none md:col-span-2">
            <h2 class="text-2xl font-semibold text-gray-900 sm:text-3xl">
              Въведение
            </h2>
            <p class="mt-4 text-gray-700">
                Качественият контрол с изкуствен интелект (AI) използва автоматизирани системи за откриване на дефекти,
                анализ на данни и оптимизация на производствените процеси. Чрез компютърно зрение и машинно обучение,
                AI може да инспектира продукти в реално време, идентифицирайки дефекти и отклонения, които
                човешкото око може да пропусне.

            </p>

            <p class="mt-4 text-gray-700">
                Тези системи работят с камери, сензори и софтуер за анализ, като съкращават времето за проверка
                и намаляват риска от дефектни продукти, стигащи до клиентите.
            </p>
          </div>
        </div>
    </div>
  </section>

  <section>
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8 mb-20">
      <div class="grid grid-cols-1 gap-4 md:grid-cols-4 md:items-center md:gap-8">

        <div class="md:col-span-1 h-1"></div>

        <div class="md:col-span-2">
          <div class="max-w-lg md:max-w-none">
            <h2 class="text-2xl font-semibold text-gray-900 sm:text-3xl">
              Потребности
            </h2>

            <h3 class="mt-4 font-semibold text-gray-900 text-lg">
                Автоматично откриване на дефекти
            </h3>

            <p class="mt-4 text-gray-700">
                AI може да анализира изображения или видео от производствената линия и незабавно да открива проблеми като
                пукнатини, неправилни форми, промени в цвета или липсващи компоненти.

                Производител на електроника използва AI за инспекция на печатни платки, като
                автоматично идентифицира неправилно запоени елементи.
            </p>


            <h3 class="mt-4 font-semibold text-gray-900 text-lg">
                Незабавни известия при проблеми
            </h3>

            <p class="mt-4 text-gray-700">
                Системата може да изпраща автоматични сигнали към операторите или машините при засичане на дефект,
                като по този начин предотвратява производствени грешки и намалява загубите.

                Пример: В автомобилната индустрия AI засича повреди в боята на каросерията и сигнализира на
                екипа за коригиране, преди продуктът да напусне завода.
             </p>

            <h3 class="mt-4 font-semibold text-gray-900 text-lg">Статистически анализ и прогнозиране</h3>

            <p class="mt-4 text-gray-700">
                AI събира данни за качеството на продукцията, анализира ги и предоставя полезни статистики за
                честотата и причините за дефекти. Това позволява на мениджърите да вземат информирани решения
                за подобряване на производството. Пример: Завод за хранителни продукти използва AI, за
                да анализира данни за дефектни опаковки и да оптимизира настройките на машините,
                намалявайки броя на грешките.
            </p>
        </div>
        </div>
      </div>
    </div>
  </section>


  <app-contact-invite [text]="'Нека обсъдим твоето решение'"></app-contact-invite>



