<header class="bg-gray-50 dark:bg-gray-900">
    <div class="p-8 md:p-12 lg:px-16 lg:py-24">
      <div class="mx-auto max-w-lg text-center">
        <h1 class="text-2xl font-bold text-gray-900 md:text-3xl dark:text-white animate__animated animate__fadeInUp">
            Автоматично менажиране на инвентара
        </h1>
        <!-- <h3 class="hidden text-gray-500 sm:mt-4 sm:block dark:text-gray-400 animate__animated animate__fadeInUp">
        </h3> -->
      </div>
    </div>
</header>


<section class="mt-20">
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8">
      <div class="grid grid-cols-1 gap-4 md:grid-cols-4 md:items-center md:gap-8">
        <div class="md:col-span-1"></div>

        <div class="max-w-lg md:max-w-none md:col-span-2">
            <h2 class="text-2xl font-semibold text-gray-900 sm:text-3xl">
              Въведение
            </h2>
            <p class="mt-4 text-gray-700">
                Предсказуемата поддръжка (Predictive Maintenance) с изкуствен интелект използва сензори,
                данни в реално време и машинно обучение, за да прогнозира повреди на оборудването преди те да се
                случат. Вместо да чакате дадена машина да се повреди или да извършвате ненужна превантивна поддръжка,
                AI анализира работните параметри и алармира за потенциални проблеми.
                Тази технология намалява времето на неактивност, разходите за ремонт и предотвратява скъпоструващи повреди.
            </p>
          </div>
        </div>
    </div>
  </section>

  <section>
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8 mb-20">
      <div class="grid grid-cols-1 gap-4 md:grid-cols-4 md:items-center md:gap-8">

        <div class="md:col-span-1 h-1"></div>

        <div class="md:col-span-2">
          <div class="max-w-lg md:max-w-none">
            <h2 class="text-2xl font-semibold text-gray-900 sm:text-3xl">
              Потребности
            </h2>

            <h3 class="mt-4 font-semibold text-gray-900 text-lg">
                Ранно предупреждение за потенциални неизправности
            </h3>

            <p class="mt-4 text-gray-700">
                AI анализира данни като вибрации, температура, налягане и електрически параметри,
                за да открие признаци на износване или неизправности.
                <br>
                Пример: В производствен завод AI следи двигателите на конвейерите и предупреждава за аномалии,
                предотвратявайки внезапни аварии.
            </p>


            <h3 class="mt-4 font-semibold text-gray-900 text-lg">
                Намаляване на времето на неактивност
            </h3>

            <p class="mt-4 text-gray-700">
                Чрез прогнозиране на проблеми преди да доведат до повреда, компаниите могат да планират поддръжката
                без да спират производствения процес.
            </p>

            <h3 class="mt-4 font-semibold text-gray-900 text-lg">
                Оптимизиране на разходите за поддръжка
            </h3>

            <p class="mt-4 text-gray-700">
                Вместо да се извършва поддръжка на фиксирани интервали (което може да бъде ненужно или закъсняло),
                AI предлага динамичен график на ремонти, базиран на реалното състояние на оборудването.
                <br>
                Пример: Логистична компания използва AI за следене на камионите си, като планира обслужване
                само когато е необходимо, намалявайки разходите за ненужни ремонти.
            </p>


            <h3 class="mt-4 font-semibold text-gray-900 text-lg">Оптимизация чрез Retrieval-Augmented Generation (RAG)</h3>

            <p class="mt-4 text-gray-700">
                Комбинирайки AI за разпознаване на инвентара с RAG, бизнесите могат да генерират персонализирани доклади
                и препоръки въз основа на събраните данни. Това подобрява процеса на вземане на решения и оптимизира операциите.
                Пример: Търговска верига използва RAG за анализ на продажбите и получава автоматични предложения за
                подобряване на складовите стратегии.
            </p>
        </div>
        </div>
      </div>
    </div>
  </section>

<app-contact-invite [text]="'Нека обсъдим твоето решение'"></app-contact-invite>