<div class="content w-full lg:w-4xl m-auto my-20 px-8">

    <h1>Условия за ползване</h1>

    <p>Тези условия за ползване („Условия“) ще се прилагат, когато влизате в нашия уебсайт или го използвате.
        Моля, прочетете внимателно тези Условия. С достъпа или използването на уебсайта, или с
        изразяване на вашето съгласие по друг начин, вие се счита, че сте приели тези Условия.
        Ние можем да променяме тези Условия периодично, затова моля проверявайте ги редовно.
        Тези Условия са последно актуализирани на 3 март 2025 г.
    </p>
    <br>
    <h2>Дефиниции</h2>
    <p>
        В тези Условия, препратките към „ние“, „нас“ или „наш“ означават компанията Деникс Лабс ЕООД., с ЕИК <b>AAAAAA</b>
        и регистриран офис на адрес <b>BBBBB</b>. Всяко споменаване на „вие“ означава лицето, което достъпва
        или използва уебсайта. „Съдържание“ означава всяка информация, данни, текст, софтуер, снимки, графики,
        видео или други материали, налични на уебсайта. „Уебсайт“ означава https://denixlabs.com/ и всички свързани уеб страници.
    </p>
    <br>
    <h2>Достъп до уебсайта</h2>

    <p>Моля, уверете се, че вашата компютърна система отговаря на всички необходими технически изисквания
        за достъп и използване на уебсайта и че е съвместима с него. Въпреки че се стараем да поддържаме
        уебсайта точен, актуален и безгрешки, не можем да гарантираме това. Не гарантираме, че
        уебсайтът ще бъде достъпен по всяко време,
        нито че използването му от ваша страна ще бъде непрекъснато. Ние можем да предотвратим или
        спрем вашия достъп до уебсайта, ако не спазвате някоя част от тези Условия.</p>
    <br>
    <h2>Използване на съдържанието</h2>
    <p>
        Съдържанието се предоставя само за ваша лична информация с цел да ви информира за нас, нашите продукти, новини, функции, услуги и други уебсайтове, които може да ви заинтересуват. То не представлява технически или друг вид съвет и не трябва да разчитате на него за каквито и да било цели. Можете да преглеждате, изтегляте, разпечатвате и правите копие на Съдържанието на компютър, до който имате достъп само вие.
        <br><b>Когато се прави копие на Съдържанието, вие трябва да гарантирате, че</b>:
    </p>
        <ul class="list-inside list-disc">
            <li>
                Деникс Лабс ЕООД. се признава като източник на Съдържанието
            </li>
            <li>
                Съдържанието се копира без редактиране или промяна
            </li>
            <li>
                Всички авторски или интелектуални права не се изменят или премахват
            </li>
            <li>
                Лицето, което ще получи копието, е информирано, че тези разпоредби също се прилагат за него.
            </li>
        </ul>
        <br>
        <p><b>Вие нямате право да:</b></p>
        <ul class="list-inside list-disc">
            <li>
                използвате уебсайта или Съдържанието за комерсиална изгода или друга облага
            </li>
            <li>
                модифицирате или намесвате в уебсайта по какъвто и да е начин, включително чрез използване на вреден код
            </li>
            <li>
                използвате уебсайта за клевета, злоупотреба или за нарушаване на правата на други лица, включително техните права на интелектуална собственост.
            </li>
        </ul>
</div>