<div class="content w-full lg:w-4xl m-auto my-20 px-8 pb-20">

    <h1 i18n="@@legal.termsOfUse.title">Terms of Use</h1>

    <p i18n="@@legal.termsOfUse.intro">These terms of use ("Terms") will apply when you access or use our website.
        Please read these Terms carefully. By accessing or using the website, or by
        expressing your consent in another way, you are deemed to have accepted these Terms.
        We may change these Terms periodically, so please check them regularly.
        These Terms were last updated on August 15, 2025.
    </p>
    <br>
    <h2 i18n="@@legal.termsOfUse.definitions.title">Definitions</h2>
    <p i18n="@@legal.termsOfUse.definitions.content">
        In these Terms, references to "we", "us" or "our" mean the company Denix Labs Ltd., with UIC <b>208227895</b>.
        Any mention of "you" means the person who accesses
        or uses the website. "Content" means any information, data, text, software, photos, graphics,
        videos or other materials available on the website. "Website" means https://denixlabs.com/ and all related web pages.
    </p>
    <br>
    <h2 i18n="@@legal.termsOfUse.access.title">Access to the website</h2>

    <p i18n="@@legal.termsOfUse.access.content">Please ensure that your computer system meets all necessary technical requirements
        for accessing and using the website and is compatible with it. While we strive to maintain
        the website accurate, current and error-free, we cannot guarantee this. We do not guarantee that
        the website will be accessible at all times,
        nor that your use of it will be uninterrupted. We may prevent or
        stop your access to the website if you do not comply with any part of these Terms.</p>
    <br>
    <h2 i18n="@@legal.termsOfUse.contentUse.title">Use of content</h2>
    <p i18n="@@legal.termsOfUse.contentUse.intro">
        The Content is provided solely for your personal information to inform you about us, our products, news, features, services and other websites that may interest you. It does not constitute technical or other type of advice and you should not rely on it for any purposes. You may view, download, print and make copies of the Content on a computer to which only you have access.
        <br><b>When copying the Content, you must ensure that</b>:
    </p>
        <ul class="list-inside list-disc">
            <li i18n="@@legal.termsOfUse.contentUse.rule1">
                Denix Labs Ltd. is acknowledged as the source of the Content
            </li>
            <li i18n="@@legal.termsOfUse.contentUse.rule2">
                The Content is copied without editing or modification
            </li>
            <li i18n="@@legal.termsOfUse.contentUse.rule3">
                All copyright or intellectual property rights are not altered or removed
            </li>
            <li i18n="@@legal.termsOfUse.contentUse.rule4">
                The person who will receive the copy is informed that these provisions also apply to them.
            </li>
        </ul>
        <br>
        <p i18n="@@legal.termsOfUse.prohibited.intro"><b>You are not allowed to:</b></p>
        <ul class="list-inside list-disc">
            <li i18n="@@legal.termsOfUse.prohibited.commercial">
                use the website or Content for commercial benefit or other advantage
            </li>
            <li i18n="@@legal.termsOfUse.prohibited.modify">
                modify or interfere with the website in any way, including through the use of malicious code
            </li>
            <li i18n="@@legal.termsOfUse.prohibited.abuse">
                use the website for defamation, abuse or to violate the rights of others, including their intellectual property rights.
            </li>
        </ul>
</div>