<header class="bg-gray-50 bg-gray-900">
  <div class="p-8 md:p-12 lg:px-16 lg:py-24">
    <div class="mx-auto max-w-lg text-center">
      <h1 class="text-2xl font-bold text-gray-900 md:text-3xl text-white animate__animated animate__fadeInUp">
        Услуги
      </h1>
      <h3 class="hidden sm:mt-4 sm:block text-gray-300 animate__animated animate__fadeInUp">
        DenixLabs предлага индивидуални решения за нуждите на клиентите си и им помага
        да извлекат максимална стойност от данните си и тази нова технология. Тук ви запознаваме
        повърхностно с процеса ни на работа и услугите, <br>които предлагаме.
      </h3>
    </div>
  </div>
</header>

<section class="text-gray-600 body-font" >
  <h2 class="text-3xl font-bold text-gray-900 text-center my-10">Ход на работа</h2>
  <div class="container px-5 pb-24 mx-auto flex flex-wrap">
    <div class="flex relative pt-10 pb-20 sm:items-center md:w-2/3 mx-auto">
      <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
      </div>
      <div class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-indigo-500 text-white relative z-10 title-font font-medium text-sm">1</div>
      <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
        <div class="flex-shrink-0 w-24 h-24 bg-indigo-100 text-indigo-500 rounded-full inline-flex items-center justify-center">
          <!-- <img fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-12 h-12" viewBox="0 0 24 24" src="/icons/idea-bulb.svg"> -->
          <svg stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-18 h-18" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" fill="none">
            <path d="M24.78,41.94c0-5.63-3.48-10.34-5.35-13.83a13.38,13.38,0,0,1-1.59-6.33c0-7.4,6.76-13.4,14.16-13.4"/><path d="M39.22,41.94c0-5.63,3.48-10.34,5.35-13.83a13.38,13.38,0,0,0,1.59-6.33c0-7.4-6.76-13.4-14.16-13.4"/><rect x="21.96" y="41.63" width="20.62" height="4.62" rx="2.31"/><rect x="23.22" y="46.25" width="18.09" height="4.62" rx="2.31"/><path d="M35.78,50.87v.93a3.52,3.52,0,1,1-7,0v-.93"/><path d="M22.87,21.14a8.19,8.19,0,0,1,8.59-7.75"/>
          </svg>
        </div>
        <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
          <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Идея</h2>
          <p class="leading-relaxed">
            Нашите експерти и консултанти изслушват вашите идеи и изисквания. Превеждаме вашият бизнес проблем към задача от сферата на изкуствения интелект, след което изготвяме план, който ви представяме и коригираме с вашите отзиви.
          </p>
        </div>
      </div>
    </div>
    <div class="flex relative pb-20 sm:items-center md:w-2/3 mx-auto">
      <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
      </div>
      <div class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-indigo-500 text-white relative z-10 title-font font-medium text-sm">2</div>
      <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
        <div class="flex-shrink-0 w-24 h-24 bg-indigo-100 text-indigo-500 rounded-full inline-flex items-center justify-center">
          <svg fill="currentColor" stroke="currentColor" class="w-16 h-16" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 512 512" xml:space="preserve">
            <g>
              <g>
                <path d="M509.608,111.328L400.672,2.392C399.138,0.861,397.06,0,394.894,0H8.17C3.658,0,0,3.657,0,8.17v337.702
                  c0,4.513,3.658,8.17,8.17,8.17h495.66c4.513,0,8.17-3.657,8.17-8.17V117.106C512,114.94,511.139,112.862,509.608,111.328z
                    M403.064,27.894l81.042,81.042h-81.042V27.894z M394.894,125.277h35.404v44.482h-239.66v0V81.702h196.085v35.404
                  C386.723,121.62,390.38,125.277,394.894,125.277z M174.298,186.099v26.628c0,4.513,3.658,8.17,8.17,8.17s8.17-3.657,8.17-8.17
                  v-26.628h239.66v88.057H81.702v-88.057H174.298z M81.702,169.759L81.702,169.759V81.702h92.596v88.056H81.702z M495.66,337.702
                  H16.34V16.34h370.383v49.021H190.638V40.851c0-4.513-3.658-8.17-8.17-8.17s-8.17,3.657-8.17,8.17v24.511H81.702V40.851
                  c0-4.513-3.658-8.17-8.17-8.17s-8.17,3.657-8.17,8.17v24.511H40.851c-4.512,0-8.17,3.657-8.17,8.17s3.658,8.17,8.17,8.17h24.511
                  v88.056H40.851c-4.512,0-8.17,3.657-8.17,8.17c0,4.513,3.658,8.17,8.17,8.17h24.511v88.058H39.399c-4.512,0-8.17,3.657-8.17,8.17
                  c0,4.513,3.658,8.17,8.17,8.17h25.963v24.511c0,4.513,3.658,8.17,8.17,8.17s8.17-3.657,8.17-8.17v-24.511h348.596v24.511
                  c0,4.513,3.657,8.17,8.17,8.17s8.17-3.657,8.17-8.17v-24.511h23.059c4.513,0,8.17-3.657,8.17-8.17s-3.657-8.17-8.17-8.17h-23.059
                  v-88.057h23.059c4.513,0,8.17-3.657,8.17-8.17s-3.657-8.17-8.17-8.17h-23.059v-44.482h49.021V337.702z"/>
              </g>
            </g>
            <g>
              <g>
                <path d="M402.156,204.557H217.328c-4.512,0-8.17,3.657-8.17,8.17s3.658,8.17,8.17,8.17h184.829c4.513,0,8.17-3.657,8.17-8.17
                  S406.67,204.557,402.156,204.557z"/>
              </g>
            </g>
            <g>
              <g>
                <path d="M309.923,239.358h-92.596c-4.512,0-8.17,3.657-8.17,8.17c0,4.513,3.658,8.17,8.17,8.17h92.596
                  c4.513,0,8.17-3.657,8.17-8.17C318.094,243.015,314.437,239.358,309.923,239.358z"/>
              </g>
            </g>
            <g>
              <g>
                <path d="M446.638,381.277H111.66c-1.382,0-2.742,0.351-3.951,1.02L54.6,411.646c-0.037,0.021-50.381,27.842-50.381,27.842
                  C1.616,440.926,0,443.665,0,446.638c0,2.973,1.616,5.713,4.219,7.151l50.344,27.821c0.037,0.021,53.146,29.37,53.146,29.37
                  c1.209,0.668,2.569,1.02,3.951,1.02h334.98c17.458,0,33.873-6.799,46.217-19.144c12.346-12.345,19.144-28.759,19.143-46.217
                  C512,410.598,482.679,381.277,446.638,381.277z M50.308,460.59l-25.246-13.951l25.246-13.951V460.59z M103.489,489.98
                  l-36.841-20.359v-45.963l36.841-20.36V489.98z M373.106,438.468H198.809c-4.512,0-8.17,3.657-8.17,8.17s3.658,8.17,8.17,8.17
                  h174.298v40.851H119.83v-40.851h46.298c4.512,0,8.17-3.657,8.17-8.17s-3.658-8.17-8.17-8.17H119.83v-40.851h253.277V438.468z
                    M405.787,495.66h-16.34v-98.043h16.34V495.66z M481.302,481.301c-9.258,9.26-21.569,14.359-34.662,14.359h-24.512v-98.043h24.511
                  c27.03,0,49.021,21.991,49.021,49.021C495.66,459.732,490.56,472.042,481.302,481.301z"/>
              </g>
            </g>
          </svg>
        </div>
        <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
          <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Подготовка и прототип</h2>
          <p class="leading-relaxed">
            В тази стъпка предлагагаме прототип на вашата идея. Работим близо с вас, за да разработим план на проекта и уникална стратегия с дефинирана обща системна архитектура и технологичен стек. Когато планът на проекта е изготвен, се сформира екип от експерти на DenixLabs.
        </div>
      </div>
    </div>
    <div class="flex relative pb-20 sm:items-center md:w-2/3 mx-auto">
      <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
      </div>
      <div class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-indigo-500 text-white relative z-10 title-font font-medium text-sm">3</div>
      <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
        <div class="flex-shrink-0 w-24 h-24 bg-indigo-100 text-indigo-500 rounded-full inline-flex items-center justify-center">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" class="w-12 h-12" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.01005 0.858582L6.01005 14.8586L7.98995 15.1414L9.98995 1.14142L8.01005 0.858582Z" fill="currentColor"/>
            <path d="M12.5 11.5L11.0858 10.0858L13.1716 8L11.0858 5.91422L12.5 4.5L16 8L12.5 11.5Z" fill="currentColor"/>
            <path d="M2.82843 8L4.91421 10.0858L3.5 11.5L0 8L3.5 4.5L4.91421 5.91422L2.82843 8Z" fill="currentColor"/>
            </svg>
        </div>
        <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
          <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Разработка</h2>
          <p class="leading-relaxed">
            Започваме работа по това да доведем визията ви до реалност. Създаваме желаното решение, интегрирайки редица функции и специфични функционалности в него. След това се извършва подробно тестване на системната производителност и функционалност преди представянето.
        </div>
      </div>
    </div>
    <div class="flex relative pb-10 sm:items-center md:w-2/3 mx-auto">
      <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
      </div>
      <div class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-indigo-500 text-white relative z-10 title-font font-medium text-sm">4</div>
      <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
        <div class="flex-shrink-0 w-24 h-24 bg-indigo-100 text-indigo-500 rounded-full inline-flex items-center justify-center">
          <!-- <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-12 h-12" viewBox="0 0 24 24">
            <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
            <circle cx="12" cy="7" r="4"></circle>
          </svg> -->
          <svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-14 h-14" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
          <path fill="none" stroke-width="2" stroke-miterlimit="10" d="M22.2,12.8l-3-3l5-5C23.3,4.3,22.2,4,21,4
            c-3.9,0-7,3.1-7,7c0,0.4,0,0.8,0.1,1.2c-2.9,2.9-8.3,8.3-8.9,8.9c-1.6,1.6-1.6,4.1,0,5.7c1.6,1.6,4.1,1.6,5.7,0c0.6-0.6,6-6,8.9-8.9
            C20.2,18,20.6,18,21,18c3.9,0,7-3.1,7-7c0-1.2-0.3-2.3-0.8-3.2L22.2,12.8z"/>
          </svg>
        </div>
        <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
          <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Предаване и поддръжка</h2>
          <p class="leading-relaxed">
            Интегрираме направената система в съществуващата ви ИТ инфраструктура. След като системата е готова, преминаваме към нейното непрекъснато наблюдение и поддръжка. Редовната поддръжка може да включва преобучаване на модела с нови данни, коригиране на параметрите или актуализиране на софтуера по необходимост.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>


<section>
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8">
      <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:items-center md:gap-8">
        <div>
          <div class="max-w-lg md:max-w-none">
            <h2 class="text-2xl font-semibold text-gray-900 sm:text-3xl">
              Консултации за изкуствен интелект и машинно обучение
            </h2>

            <p class="mt-4 text-gray-700">
              Дългогодишният опит на нашия екип и работата по различни проекти ни позволява
              да предложим консултации за приложенията на AI в редица сфери и за всяка стъпка от
              процеса. Предлагаме консултации за избор на подходящи алгоритми, обработка на данни,
              изграждане на модели и тяхното тестване.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8 mb-20">
      <div class="grid grid-cols-1 gap-4 md:grid-cols-4 md:items-center md:gap-8">

        <div class="md:col-span-2 h-1"></div>

        <div class="md:col-span-2">
          <div class="max-w-lg md:max-w-none">
            <h2 class="text-2xl font-semibold text-gray-900 sm:text-3xl text-right">
              Разработка на уеб приложения
            </h2>

            <p class="mt-4 text-gray-700 text-right">
              Алгоритмите за машинно обучение и изкуствен интелект трябва освен точни да са и достъпни.
              В случай, че бизнесът ви няма странична IT инфраструктура, можем да поемем и разработката на уеб приложения
              като средство за интеракция с вашите модели по интуитивен начин, както и визуализация на ключови показатели и статистики.
            </p>
          </div>
        </div>


      </div>
    </div>
  </section>


  <app-our-expertise></app-our-expertise>