<header class="bg-gray-50 bg-gray-900">
    <div class="p-8 md:p-12 lg:px-16 lg:py-24">
      <div class="mx-auto max-w-lg text-center">
        <h1 class="text-2xl font-bold text-gray-900 md:text-3xl text-white
          animate__animated animate__fadeInUp" i18n="@@solutions.page.title">
          Solutions
        </h1>
        <h3 class="hidden sm:mt-4 sm:block text-gray-300
        animate__animated animate__fadeInUp" i18n="@@solutions.page.subtitle">
          The applications of artificial intelligence in business are many and highly customizable for your needs.
          Here we show you a number of proven AI applications that actively contribute to organizations from various fields.
        </h3>
      </div>
    </div>
  </header>
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-10 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <!-- <h2 class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1">DenixLabs</h2> -->
        <h2 class="sm:text-3xl text-2xl font-medium title-font text-gray-900" i18n="@@solutions.naturalLanguage.title">Natural Language Processing</h2>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="p-4 md:w-1/3">
          <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col shadow-xl shadow-bg-indigo-500/40">
            <div class="flex items-center mb-3">
              <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-indigo-500 text-white flex-shrink-0">
                <!-- <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                  <circle cx="12" cy="7" r="4"></circle>
                </svg> -->
                <img src="icons/support_agent.svg" alt="" class="w-6 h-6">
              </div>
              <h2 class="text-gray-900 text-lg title-font font-medium" i18n="@@solutions.naturalLanguage.customerSupport.title">Automatic Customer Support</h2>
            </div>
            <div class="flex-grow">
              <p class="leading-relaxed text-base" i18n="@@solutions.naturalLanguage.customerSupport.description">Chatbots and virtual assistants can answer inquiries, offer help, schedule meetings more efficiently and quickly.</p>
              <a class="mt-3 text-indigo-500 inline-flex items-center link-arrow" href="/solutions/automatic-customer-support">
                <span i18n="@@solutions.learnMore">Learn More</span>
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="p-4 md:w-1/3">
          <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col shadow-xl shadow-bg-indigo-500/40">
            <div class="flex items-center mb-3">
              <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-indigo-500 text-white flex-shrink-0">
                <img src="icons/document_search.svg" alt="" class="w-5 h-5">

              </div>
              <h2 class="text-gray-900 text-lg title-font font-medium" i18n="@@solutions.naturalLanguage.documentAnalysis.title">Document Analysis</h2>
            </div>
            <div class="flex-grow">
              <p class="leading-relaxed text-base" i18n="@@solutions.naturalLanguage.documentAnalysis.description">Artificial intelligence can search and extract key information from contracts, invoices, group them, summarize and connect them by different criteria.</p>
              <a class="mt-3 text-indigo-500 inline-flex items-center link-arrow" href="/solutions/document-analysis">
                <span i18n="@@solutions.learnMore">Learn More</span>
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="p-4 md:w-1/3">
          <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col shadow-xl shadow-bg-indigo-500/40">
            <div class="flex items-center mb-3">
              <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-indigo-500 text-white flex-shrink-0">
                <!-- <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <circle cx="6" cy="6" r="3"></circle>
                  <circle cx="6" cy="18" r="3"></circle>
                  <path d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"></path>
                </svg> -->
                <img src="icons/sentiment.svg" alt="" class="w-6 h-6">
              </div>
              <h2 class="text-gray-900 text-lg title-font font-medium" i18n="@@solutions.naturalLanguage.reportWriting.title">Automatic Report Generation</h2>
            </div>
            <div class="flex-grow">
              <p class="leading-relaxed text-base" i18n="@@solutions.naturalLanguage.reportWriting.description">Artificial intelligence can automate the creation of contracts, agreements and other legal documents using pre-defined templates.</p>
              <a class="mt-3 text-indigo-500 inline-flex items-center link-arrow" href="/solutions/report-writing">
                <span i18n="@@solutions.learnMore">Learn More</span>
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="text-gray-600 body-font">
    <div class="container px-5 py-10 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <!-- <h2 class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1">DenixLabs</h2> -->
        <h2 class="sm:text-3xl text-2xl font-medium title-font text-gray-900" i18n="@@solutions.imageAnalysis.title">Image Analysis</h2>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="p-4 md:w-1/3">
          <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col shadow-xl shadow-bg-indigo-500/40">
            <div class="flex items-center mb-3">
              <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-indigo-500 text-white flex-shrink-0">
                <!-- <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                </svg> -->
                <img src="icons/damage.svg" alt="" class="w-6 h-6">
              </div>
              <h2 class="text-gray-900 text-lg title-font font-medium" i18n="@@solutions.imageAnalysis.qaAndAnomalies.title">Quality Control and Defect Detection</h2>
            </div>
            <div class="flex-grow">
              <p class="leading-relaxed text-base" i18n="@@solutions.imageAnalysis.qaAndAnomalies.description">Artificial intelligence can detect defects in production (e.g. on the production line), notify about problems and provide statistics.</p>
              <a class="mt-3 text-indigo-500 inline-flex items-center link-arrow"  href="/solutions/qa-and-anomalies">
                <span i18n="@@solutions.learnMore">Learn More</span>
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="p-4 md:w-1/3">
          <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col shadow-xl shadow-bg-indigo-500/40">
            <div class="flex items-center mb-3">
              <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-indigo-500 text-white flex-shrink-0">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                  <circle cx="12" cy="7" r="4"></circle>
                </svg>
              </div>
              <h2 class="text-gray-900 text-lg title-font font-medium" i18n="@@solutions.imageAnalysis.inventoryManagement.title">Automatic Inventory Management</h2>
            </div>
            <div class="flex-grow">
              <p class="leading-relaxed text-base" i18n="@@solutions.imageAnalysis.inventoryManagement.description">
                Smart cameras can monitor inventory levels and detect shortages of goods in warehouses and stores.
              </p>
              <a class="mt-3 text-indigo-500 inline-flex items-center link-arrow" href="/solutions/inventory-management">
                <span i18n="@@solutions.learnMore">Learn More</span>
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="p-4 md:w-1/3">
          <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col shadow-xl shadow-bg-indigo-500/40">
            <div class="flex items-center mb-3">
              <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-indigo-500 text-white flex-shrink-0">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <circle cx="6" cy="6" r="3"></circle>
                  <circle cx="6" cy="18" r="3"></circle>
                  <path d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"></path>
                </svg>
              </div>
              <h2 class="text-gray-900 text-lg title-font font-medium" i18n="@@solutions.imageAnalysis.faceRecognition.title">Face Recognition</h2>
            </div>
            <div class="flex-grow">
              <p class="leading-relaxed text-base" i18n="@@solutions.imageAnalysis.faceRecognition.description">Artificial intelligence can identify you and your customers, providing a new level of security and access to CRM profile right from the door.</p>
              <a class="mt-3 text-indigo-500 inline-flex items-center link-arrow" href="/solutions/face-recognition">
                <span i18n="@@solutions.learnMore">Learn More</span>
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>

              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="text-gray-600 body-font pb-10">
    <div class="container px-5 py-10 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <!-- <h2 class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1">DenixLabs</h2> -->
        <h2 class="sm:text-3xl text-2xl font-medium title-font text-gray-900" href="/solutions/decision-support" i18n="@@solutions.decisionSupport.title">Decision Support</h2>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="p-4 md:w-1/3">
          <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col shadow-xl shadow-bg-indigo-500/40">
            <div class="flex items-center mb-3">
              <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-indigo-500 text-white flex-shrink-0">
                <!-- <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                </svg> -->
                <img src="icons/threat_intelligence.svg" alt="" class="w-6 h-6">
              </div>
              <h2 class="text-gray-900 text-lg title-font font-medium" i18n="@@solutions.decisionSupport.riskAssessment.title">Risk Assessment</h2>
            </div>
            <div class="flex-grow">
              <p class="leading-relaxed text-base" i18n="@@solutions.decisionSupport.riskAssessment.description">AI can analyze various risk factors and provide comprehensive risk assessments to help make informed business decisions.</p>
              <a class="mt-3 text-indigo-500 inline-flex items-center link-arrow" href="/solutions/risk-assessment">
                <span i18n="@@solutions.learnMore">Learn More</span>
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="p-4 md:w-1/3">
          <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col shadow-xl shadow-bg-indigo-500/40">
            <div class="flex items-center mb-3">
              <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-indigo-500 text-white flex-shrink-0">
                <!-- <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                  <circle cx="12" cy="7" r="4"></circle>
                </svg> -->
                <img src="icons/repair.svg" alt="" class="w-6 h-6">
              </div>
              <h2 class="text-gray-900 text-lg title-font font-medium" i18n="@@solutions.decisionSupport.predictiveMaintenance.title">Predictive Maintenance</h2>
            </div>
            <div class="flex-grow">
              <p class="leading-relaxed text-base" i18n="@@solutions.decisionSupport.predictiveMaintenance.description">
                AI predicts equipment failures before they happen, reducing downtime and repair costs.
              </p>
              <a class="mt-3 text-indigo-500 inline-flex items-center link-arrow" href="/solutions/predictive-maintenance">
                <span i18n="@@solutions.learnMore">Learn More</span>
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <!-- <div class="p-4 md:w-1/3">
          <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col shadow-xl shadow-bg-indigo-500/40">
            <div class="flex items-center mb-3">
              <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-indigo-500 text-white flex-shrink-0">
                <img src="icons/query_stats.svg" alt="" class="w-6 h-6">
              </div>
              <h2 class="text-gray-900 text-lg title-font font-medium">Предсказване на пазарното търсене и оптимизация на ресурсите</h2>
            </div>
            <div class="flex-grow">
              <p class="leading-relaxed text-base">AI може да открие тенденции в пазара и да препоръча складова наличност, персонал и логистика.</p>
              <a class="mt-3 text-indigo-500 inline-flex items-center link-arrow" href="#">Научи повече
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </section>

<app-contact-invite [text]="contactInviteText"></app-contact-invite>