<header class="bg-gray-50 bg-gray-900">
    <div class="p-8 md:p-12 lg:px-16 lg:py-24">
      <div class="mx-auto max-w-lg text-center">
        <h1 class="text-2xl font-bold text-gray-900 md:text-3xl text-white
          animate__animated animate__fadeInUp">
          Решения
        </h1>
        <h3 class="hidden text-gray-500 sm:mt-4 sm:block text-gray-400
        animate__animated animate__fadeInUp">
          Приложенията на изкуственият интелект в бизнеса са много и с високо ниво на персонализация за вашите нужди.
          Тук ви показваме редица доказали се приложения на AI, които активно <br>допринасят в организации от различни сфери.
        </h3>
      </div>
    </div>
  </header>
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-10 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <!-- <h2 class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1">DenixLabs</h2> -->
        <h2 class="sm:text-3xl text-2xl font-medium title-font text-gray-900">Анализ на естествен език</h2>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="p-4 md:w-1/3">
          <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col shadow-xl shadow-bg-indigo-500/40">
            <div class="flex items-center mb-3">
              <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-indigo-500 text-white flex-shrink-0">
                <!-- <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                  <circle cx="12" cy="7" r="4"></circle>
                </svg> -->
                <img src="icons/support_agent.svg" alt="" class="w-6 h-6">
              </div>
              <h2 class="text-gray-900 text-lg title-font font-medium">Автоматично обслужване на клиенти</h2>
            </div>
            <div class="flex-grow">
              <p class="leading-relaxed text-base">Чатботовете и виртуалните асистенти могат да отговарят на запитвания, да предлагат помощ, да насрочват срещи по ефикасно и бързо.</p>
              <a class="mt-3 text-indigo-500 inline-flex items-center link-arrow" href="/solutions/automatic-customer-support">Научи повече
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="p-4 md:w-1/3">
          <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col shadow-xl shadow-bg-indigo-500/40">
            <div class="flex items-center mb-3">
              <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-indigo-500 text-white flex-shrink-0">
                <img src="icons/document_search.svg" alt="" class="w-5 h-5">

              </div>
              <h2 class="text-gray-900 text-lg title-font font-medium">Анализ на документи</h2>
            </div>
            <div class="flex-grow">
              <p class="leading-relaxed text-base">Изкуственият интелект може да търси и извлича ключова информация от договори, фактури, да ги групира, обобщава и свързва по различни критерии.</p>
              <a class="mt-3 text-indigo-500 inline-flex items-center link-arrow" href="/solutions/document-analysis">Научи повече
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="p-4 md:w-1/3">
          <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col shadow-xl shadow-bg-indigo-500/40">
            <div class="flex items-center mb-3">
              <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-indigo-500 text-white flex-shrink-0">
                <!-- <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <circle cx="6" cy="6" r="3"></circle>
                  <circle cx="6" cy="18" r="3"></circle>
                  <path d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"></path>
                </svg> -->
                <img src="icons/sentiment.svg" alt="" class="w-6 h-6">
              </div>
              <h2 class="text-gray-900 text-lg title-font font-medium">Автоматично съставяне на репорти</h2>
            </div>
            <div class="flex-grow">
              <p class="leading-relaxed text-base">Изкуственият интелект може да автоматизира създаването на договори, споразумения и други правни документи чрез използване на предварително зададени шаблони.</p>
              <a class="mt-3 text-indigo-500 inline-flex items-center link-arrow" href="/solutions/report-writing">Научи повече
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="text-gray-600 body-font">
    <div class="container px-5 py-10 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <!-- <h2 class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1">DenixLabs</h2> -->
        <h2 class="sm:text-3xl text-2xl font-medium title-font text-gray-900">Анализ на изображения</h2>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="p-4 md:w-1/3">
          <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col shadow-xl shadow-bg-indigo-500/40">
            <div class="flex items-center mb-3">
              <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-indigo-500 text-white flex-shrink-0">
                <!-- <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                </svg> -->
                <img src="icons/damage.svg" alt="" class="w-6 h-6">
              </div>
              <h2 class="text-gray-900 text-lg title-font font-medium">Качествен контрол и разпознаване на дефекти</h2>
            </div>
            <div class="flex-grow">
              <p class="leading-relaxed text-base">Изкуственият интелект може да открива дефекти в производството (напр. на поточната линия), да известява при проблеми и да предоставя статистики.</p>
              <a class="mt-3 text-indigo-500 inline-flex items-center link-arrow"  href="/solutions/qa-and-anomalies">Научи повече
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="p-4 md:w-1/3">
          <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col shadow-xl shadow-bg-indigo-500/40">
            <div class="flex items-center mb-3">
              <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-indigo-500 text-white flex-shrink-0">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                  <circle cx="12" cy="7" r="4"></circle>
                </svg>
              </div>
              <h2 class="text-gray-900 text-lg title-font font-medium">Автоматично менижиране на инвентара</h2>
            </div>
            <div class="flex-grow">
              <p class="leading-relaxed text-base">
                Умни камери могат да следят нивата на инвентара и да откриват липси на стоки в складове и магазини.
              </p>
              <a class="mt-3 text-indigo-500 inline-flex items-center link-arrow" href="/solutions/inventory-management">Научи повече
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="p-4 md:w-1/3">
          <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col shadow-xl shadow-bg-indigo-500/40">
            <div class="flex items-center mb-3">
              <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-indigo-500 text-white flex-shrink-0">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <circle cx="6" cy="6" r="3"></circle>
                  <circle cx="6" cy="18" r="3"></circle>
                  <path d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"></path>
                </svg>
              </div>
              <h2 class="text-gray-900 text-lg title-font font-medium">Лицево разпознаване</h2>
            </div>
            <div class="flex-grow">
              <p class="leading-relaxed text-base">Изкуственият интелект може да идентифицира вас и клиентите ви, предоставяйки ново ниво на сигурност и достъп до CRM профил още от вратата.</p>
              <a class="mt-3 text-indigo-500 inline-flex items-center link-arrow" href="/solutions/face-recognition">Научи повече
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>

              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="text-gray-600 body-font pb-10">
    <div class="container px-5 py-10 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <!-- <h2 class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1">DenixLabs</h2> -->
        <h2 class="sm:text-3xl text-2xl font-medium title-font text-gray-900" href="/solutions/decision-support">Помощ за вземането на решения</h2>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="p-4 md:w-1/3">
          <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col shadow-xl shadow-bg-indigo-500/40">
            <div class="flex items-center mb-3">
              <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-indigo-500 text-white flex-shrink-0">
                <!-- <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                </svg> -->
                <img src="icons/threat_intelligence.svg" alt="" class="w-6 h-6">
              </div>
              <h2 class="text-gray-900 text-lg title-font font-medium">Оценка на риска</h2>
            </div>
            <div class="flex-grow">
              <p class="leading-relaxed text-base">AI може да открива дефекти в производството (напр. на поточната линия), да известява при проблеми и да предоставя статистики.</p>
              <a class="mt-3 text-indigo-500 inline-flex items-center link-arrow" href="/solutions/risk-assessment">Научи повече
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="p-4 md:w-1/3">
          <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col shadow-xl shadow-bg-indigo-500/40">
            <div class="flex items-center mb-3">
              <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-indigo-500 text-white flex-shrink-0">
                <!-- <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                  <circle cx="12" cy="7" r="4"></circle>
                </svg> -->
                <img src="icons/repair.svg" alt="" class="w-6 h-6">
              </div>
              <h2 class="text-gray-900 text-lg title-font font-medium">Предсказуема поддръжка</h2>
            </div>
            <div class="flex-grow">
              <p class="leading-relaxed text-base">
                AI предсказва откази на оборудването преди те да настъпят, намалявайки времето на неактивност и разходите за ремонт.
              </p>
              <a class="mt-3 text-indigo-500 inline-flex items-center link-arrow" href="/solutions/predictive-maintenance">Научи повече
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <!-- <div class="p-4 md:w-1/3">
          <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col shadow-xl shadow-bg-indigo-500/40">
            <div class="flex items-center mb-3">
              <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-indigo-500 text-white flex-shrink-0">
                <img src="icons/query_stats.svg" alt="" class="w-6 h-6">
              </div>
              <h2 class="text-gray-900 text-lg title-font font-medium">Предсказване на пазарното търсене и оптимизация на ресурсите</h2>
            </div>
            <div class="flex-grow">
              <p class="leading-relaxed text-base">AI може да открие тенденции в пазара и да препоръча складова наличност, персонал и логистика.</p>
              <a class="mt-3 text-indigo-500 inline-flex items-center link-arrow" href="#">Научи повече
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </section>

<app-contact-invite [text]="'И още много... нека обсъдим твоят AI модел'"></app-contact-invite>