<div class="mx-auto text-center pt-20 w-full">
    <h2 class="font-bold text-4xl text-gray-900 my-10" i18n="@@expertise.title">
        Our Expertise
    </h2>

    <div class="md:flex justify-center items-between mx-auto">
        <div class="flex-wrap p-6 max-w-lg mx-auto lg:mx-0">
            <h3 class="text-2xl mb-10" i18n="@@expertise.concepts.title">Concepts</h3>
            <p class="text-left text-md mb-5" i18n="@@expertise.concepts.description1">Data analysis and visualization, working with (un)structured data and images, hypothesis testing, statistical tests</p>
            <p class="text-left text-md mb-5" i18n="@@expertise.concepts.description2">Supervised and unsupervised machine learning, optimization, working with time series</p>
            <p class="text-left text-md" i18n="@@expertise.concepts.description3">Deep neural networks, convolutional neural networks, generative models, siamese neural networks, Bayesian networks</p>
        </div>
        <div class="flex-wrap max-w-lg p-6 mx-auto lg:mx-0">
            <h3 class="text-2xl" i18n="@@expertise.technologies.title">Technologies</h3>
            <div class="h-xl pb-20 w-full p-4">
                <div class="flex justify-center flex-wrap gap-5  p-6">
                <div class="bg-white rounded-lg shadow w-18 h-18 flex justify-center items-center">
                    <img ngSrc="icons/tech_logos/python.svg" alt="" width="18" height="18">
                </div>
                <div class="bg-white rounded-lg shadow w-18 h-18 flex justify-center items-center p-1">
                    <img ngSrc="icons/tech_logos/technologies-scikit-learn.svg" alt="scikit learn" width="18" height="18">
                </div>
                <div class="bg-white rounded-lg shadow w-18 h-18 flex justify-center items-center p-1">
                    <img ngSrc="icons/tech_logos/logo-tensorflow.svg" alt="tensorflow logo" width="18" height="18">
                </div>
                <div class="bg-white rounded-lg shadow w-18 h-18 flex justify-center items-center p-1">
                    <img ngSrc="icons/tech_logos/logo-pytorch.svg" alt="pytorch logo" width="18" height="18">
                </div>
                <div class="bg-white rounded-lg shadow w-18 h-18 flex justify-center items-center p-1">
                    <img ngSrc="icons/tech_logos/pytorch_lightning.png" alt="pytorch lightning logo" width="18" height="18">
                </div>
                <div class="bg-white rounded-lg shadow w-18 h-18 flex justify-center items-center p-1">
                    <img ngSrc="icons/tech_logos/logo-keras.svg" alt="keras logo" width="18" height="18">
                </div>
                <div class="bg-white rounded-lg shadow w-18 h-18 flex justify-center items-center p-1">
                    <img ngSrc="icons/tech_logos/logo_mlflow.svg" alt="mlflow logo" width="18" height="18">
                </div>
                <div class="bg-white rounded-lg shadow w-18 h-18 flex justify-center items-center p-1">
                    <img ngSrc="icons/tech_logos/wandb.png" alt="wandb logo" width="18" height="18">
                </div>
                <div class="bg-white rounded-lg shadow w-18 h-18 flex justify-center items-center p-1">
                    <img ngSrc="icons/tech_logos/angular.svg" alt="angular logo" width="18" height="18">
                </div>
                <div class="bg-white rounded-lg shadow w-18 h-18 flex justify-center items-center p-1"
                    style="background-color: #512BD4">
                    <img ngSrc="icons/tech_logos/dotnet-logo.svg" alt="dotnet logo" width="18" height="18">
                </div>
                <div class="bg-white rounded-lg shadow w-18 h-18 flex justify-center items-center p-1">
                    <img ngSrc="icons/tech_logos/mysql-logo.svg" alt="mysql logo" width="18" height="18">
                </div>
                <div class="bg-white rounded-lg shadow w-18 h-18 flex justify-center items-center p-1">
                    <img ngSrc="icons/tech_logos/docker.svg" alt="docker logo" width="18" height="18">
                </div>
            </div>
        </div>
    </div>



</div>