<header class="bg-gray-50 bg-gray-900">
    <div class="p-8 md:p-12 lg:px-16 lg:py-24">
      <div class="mx-auto max-w-lg text-center">
        <h1 class="text-2xl font-bold text-gray-900 md:text-3xl text-white animate__animated animate__fadeInUp">
            Лицево разпознаване
        </h1>
        <!-- <h3 class="hidden text-gray-500 sm:mt-4 sm:block text-gray-400 animate__animated animate__fadeInUp">
        </h3> -->
      </div>
    </div>
</header>


<section class="mt-20">
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8">
      <div class="grid grid-cols-1 gap-4 md:grid-cols-4 md:items-center md:gap-8">
        <div class="md:col-span-1"></div>

        <div class="max-w-lg md:max-w-none md:col-span-2">
            <h2 class="text-2xl font-semibold text-gray-900 sm:text-3xl">
              Въведение
            </h2>
            <p class="mt-4 text-gray-700">
                Лицевата идентификация използва алгоритми за разпознаване на лица, за да засече и идентифицира
                хора в реално време. Тази технология може да бъде внедрена за цели на сигурност,
                като контролиран достъп до обекти, както и за подобряване на клиентското изживяване
                чрез персонализация – например, чрез разпознаване на високостойностни клиенти при
                влизане и бързо предоставяне на CRM профил с история на предпочитанията и услугите им.
            </p>
          </div>
        </div>
    </div>
  </section>

  <section>
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8 mb-20">
      <div class="grid grid-cols-1 gap-4 md:grid-cols-4 md:items-center md:gap-8">

        <div class="md:col-span-1 h-1"></div>

        <div class="md:col-span-2">
          <div class="max-w-lg md:max-w-none">
            <h2 class="text-2xl font-semibold text-gray-900 sm:text-3xl">
              Потребности
            </h2>

            <h3 class="mt-4 font-semibold text-gray-900 text-lg">
                Подобряване на сигурността и контрола на достъпа
            </h3>

            <p class="mt-4 text-gray-700">
                Системите за лицева идентификация могат да бъдат инсталирани на входовете на
                офиси, магазини или производствени обекти, за да осигурят автоматизиран контрол
                на достъпа. Те разпознават регистрирани лица и позволяват или отхвърлят достъп
                въз основа на предварително зададени критерии.

            <h3 class="mt-4 font-semibold text-gray-900 text-lg">
                Персонализация на клиентското изживяване
            </h3>

            <p class="mt-4 text-gray-700">
                Лицевата идентификация може да се интегрира с CRM системи, за да разпознава високостойностни
                клиенти или дългосрочни партньори при влизане в обекта. Системата автоматично предоставя
                информация за предпочитанията и предишната история на клиента на персонала, който може да
                посрещне госта по персонализиран начин.
            </p>
            </div>
        </div>
      </div>
    </div>
  </section>


  <app-contact-invite [text]="'Нека обсъдим твоето решение'"></app-contact-invite>