
<div class="content w-4xl m-auto my-20">

    <h1>Политика за поверителност</h1>

    <br>
    <h3>Кои сме ние?</h3>
    <br>
    <p>
        <b>Име на фирмата</b>: ДЕНИКС ЛАБС ЕООД
        <br>
        <b>Адрес на управление</b>: ADDRESS
        <br>
        <b>ЕИК:</b> 207614145
        <br>
        <b>Телефон за контакт</b>: +359 878 426 545
        <br>
        <b>Имейл</b>: info&#64;denixlabs.com
        <br>
        <br>
    Знаем, че когато събираме и обработваме информация за физическо лице, трябва да го направим отговорно,
    с дължимата грижа за личната неприкосновеност, спазвайки
    законите за защита на данните и принципите на поверителност.Тази политика за поверителност ("Политика")
    описва основните видове лична информация, която събираме в рамките на дружеството, как се обработва и
    разкрива тази информация, както и задълженията ни към лицата, чиито данни обработваме. Политиката
    обяснява по принцип как се стремим да спазваме законите и регламентите за поверителност на данните,
    включително, но не само Регламент (EU) 2016/679 (Общ регламент за защита на личните данни/GDPR).
    <br>
    Едноличното Дружеството в качеството му на администратор на лични данни, е въвело вътрешни политики
    (инструкции) и програми, предназначени да осигурят спазването на тези закони.

    <br><br>
    <h3>Разкриване на лични данни</h3>

    Лични данни на купувачите ни могат да бъдат разкрити от Едноличното Дружеството:

    <ul class="list-inside list-disc">
        <li>на дружество, извършващо счетоводна дейност</li>
        <li>а обслужващата Дружеството банка (за целите на успешното плащане на услугата по договора)</li>
        <li>разследващи и други органи, на основание законов текст, който задължава Дружеството да разкрие информация за клиента</li>
    </ul>

    Вътре в дружеството, достъп до лични данни имат само оторизирани лица, надлежно подготвени за работа с лични данни.
    Едноличното Дружеството не търгува и не продава бази данни, вкл. анонимизирани или псевдонимизирани данни, по никакъв повод и за никакви цели, вкл. статистически.
    Трансфер на лични данни (разкриване пред лица извън страната)
    Едноличното Дружеството не извършва трансфер на лични данни извън пределите на страната.

    <br><br>
    <h3>Уведомяване и Съгласие</h3>

    В момента на събирането на данните, Едноличното Дружеството уведомява лицата по
    ясен и непротиворечив начин как точно информацията за тях ще бъде обработена, разкрита,
    съхранявана и заличена; какви права имат по отношение на защитата на личните данни или
    съгласно тази Политика, а също и какви са начините за упражняване на тези права. Това
    уведомление е изцяло съобразено с изискванията на Регламента и цели спазването му в максимална
    степен, включително, но не само принципа за прозрачност и законосъобразност при обработката
    на личните данни на лицата.

    По отношение на личните си данни всеки потребител има следните права:


    <ul class="list-inside list-disc">
        <li>право на достъп до тях</li>
        <li>право да иска актуализиране и/или коригиране</li>
        <li>право да искам заличаване</li>
        <li>право да искам ограничаване на обработването</li>
        <li>право на преносимост на данните</li>
        <li>право да възразя срещу обработване по определен начин и за определени цели, вкл.
            автоматизирано обработване (профилиране)</li>
    </ul>


    С изключение на последното право, останалите се упражняват с писмено искане до седалището на Дружеството ми
    в  <b>ADDRESS</b>.

    Едноличното Дружеството гарантира, че физическите лица могат да упражняват всички свои права по отношение
    на личните данни, обработвани от едноличното дружеството, включително, но не само правото на достъп,
    актуализиране и коригиране, право на преносимост на данните, право на временно спиране на обработването
    и изтриване на данни и изобщо всичко, предвидено в закон. Едноличното Дружеството ще положи максимални
    усилия да разгледа и уважи искането на лицето. Евентуален отказ от страна на Едноличното Дружеството би
    бил възможен единствено на законово основание (когато законов текст забранява това).


    В случаите, когато това се изисква от закона, а също и като израз на добра практика, Едноличното Дружеството може
    да поиска съгласието на физическото лице да събира, използва и разкрива данните му за конкретно определени цели.


    <br><br>
    <h3>Актуалност на данните и срокове на съхранение</h3>

    Нашата политика за поверителност предвижда всяко лице, чиито данни сме събрали, да разполага с пълните възможности да заяви коригиране и актуализиране на данните.

    Правото да бъдеш забравен също е сред предвидените в политиката ни на поверителност и всяко лице може да заяви заличаване на данните си.

    Дружеството извършва заличаване на личните данни незабавно след отпадане на основанието за обработка и съхранение,
    след преценка на специалните законови изисквания.

    <br><br>
    <h3>Сигурност и защита на данните</h3>


    ДЕНИКС ЛАБС ЕООД поддържа цялостна политика за информационна сигурност с максимален акцент
    върху техническите и организационни мерки за сигурност, които защитават личната информация от
    неоторизиран достъп или загуба. В съответствие с регулаторните изисквания, Едноличното Дружеството
    поддържа също така и практика за справяне при нарушаване на сигурността, свързано със защитата на л
    ичните данни, включително извършване на всички необходими уведомления на лица или надзорния орган.

    <br><br>
    <h3>Запитвания, сигнали, жалби и искания за упражняване на права</h3>

    Всякаква комуникация, питания, сигнали, жалби и искания за упражняване на
    права по отношение на личните данни следва да бъдат адресирани до седалището на
    ДЕНИКС ЛАБС ЕООД.


    <br><br>
    <h3>Правен статус на тази Политика, помени и действие</h3>
    Тази Политика за поверителност не е договор и няма обвързващо действие.
    ДЕНИКС ЛАБС ЕООД запазва правото да актуализира Политиката
    (например – при промяна на законодателството по отношение на личните данни).
</div>