<div class="content w-full lg:w-4xl m-auto my-20 px-8">

    <h1>Политика за бисквитки</h1>

    <p>Тази политика за бисквитките ще ви информира как използваме бисквитки, когато посещавате нашия
        уебсайт, и ще ви разкаже за целите, за които ги използваме. Предоставяме я в структуриран формат,
        така че можете да преминете към конкретните раздели по-долу.
    </p>

    <div id="toc_container">
        <p class="toc_title">Съдържание</p>
        <ul class="toc_list">
          <li><a (click)="scrollToElement(what_is_a_cookie)" class="link">1. Какво е бисквитка?</a>
            <li><a (click)="scrollToElement(our_cookies)" class="link">2. Какви конкретни бисквитки използваме на denixlabs.com?</a></li>
            <li><a (click)="scrollToElement(how_to_turn_off)" class="link">3. Как да изключите бисквитките?</a></li>
            <li><a (click)="scrollToElement(contact)" class="link">4. Как да се свържете с нас?</a></li>
            <li><a (click)="scrollToElement(changes)" class="link">5. Промени в тази политика</a></li>
        </ul>
    </div>
    <br>
    <h2 #what_is_a_cookie>1. Какво е бисквитка?</h2>
    <br>
    <p>Бисквитката е малък текстови файл, който се поставя на вашия компютър или друго електронно устройство,
        когато посещавате нашия уебсайт.</p>
    <br>
    <h3>Видове бисквитки</h3>

    <p>Има различни видове бисквитки:
        <br><br>
        <b>Бисквитки на първа и трета страна</b> – дали бисквитката е "първа" или "трета" страна зависи от домейна,
        който я поставя. Бисквитките на първа страна са тези, зададени от нас на уебсайта, който
        посещавате (например бисквитките, поставени от www.denixlabs.com).
        <br>
        <b>Сесийни бисквитки</b> – те позволяват на нашия уебсайт да свърже вашите действия по време на конкретна
        сесия на браузъра. Тези бисквитки изтичат всеки път, когато затворите браузъра си и не остават на вашето устройство;
        <br>
        <b>Постоянни бисквитки</b> – те се съхраняват на вашето устройство между сесиите на браузъра. Те позволяват да се
            запомнят вашите предпочитания или действия в нашия уебсайт. Те остават на вашето устройство, докато не
            изтекат или докато не ги изтриете от кеша си.
        <br>
        <b>Строго необходими бисквитки</b> – тези бисквитки са от съществено значение, за да можете да навигирате в нашия уебсайт и да използвате неговите функции. Без тях не можем да предоставим услугите, които сте поискали;
        <br>
        <b>Бисквитки за производителност</b> – тези бисквитки събират информация за това как използвате нашия уебсайт, например кои страници посещавате най-често. Те не събират лична информация за вас. Цялата информация, събрана от тези бисквитки, е обобщена и анонимна и се използва само за подобряване на работата на нашия уебсайт;
        <br>
        <b>Функционални бисквитки</b> – тези бисквитки позволяват на нашия уебсайт да запомни вашите избори (като потребителско име, език, последно действие и предпочитания за търсене) и предоставят по-добри, персонализирани функции. Информацията, събрана от тези бисквитки, е анонимна и не може да проследява вашата активност в други уебсайтове.
    </p>
    <br>
    <h2 #our_cookies>2. Какви конкретни бисквитки използваме на denixlabs.com?</h2>
    <br>
    <p>Можете да намерите повече информация за индивидуалните бисквитки, които използваме, и целите, за които ги използваме, в таблиците по-долу:</p>

    <br>
    <h3>Google Analytics</h3>
    <p>Google Analytics е услуга за уеб анализ, предоставяна от Google, Inc.
        Тя задава бисквитка, за да оцени вашето използване на нашия уебсайт и да съставя отчети за активността.</p>

    <div style="overflow-x:hidden;">
        <table class="m-auto mt-10 w-full">
            <caption class="caption-bottom italic">
                Таблица 1: Бисквитки, използвани от Google Analytics
            </caption>
            <thead>
                <tr>
                    <th>Име на бисквитката</th>
                    <th>Цел</th>
                    <th>Валидност</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>_ga</td>
                    <td>Използва се за разграничаване на потребителите</td>
                    <td>14 месеца</td>
                </tr>
                <tr>
                    <td>_gid</td>
                    <td>Използва се за разграничаване на потребителите</td>
                    <td>24 часа</td>
                </tr>
                <tr>
                    <td>_gat</td>
                    <td>Използва се за ограничаване на честотата на заявките</td>
                    <td>1 минута</td>
                </tr>
                <tr>
                    <td>__utma</td>
                    <td>Разграничава потребителите и сесиите</td>
                    <td>14 месеца</td>
                </tr>
                <tr>
                    <td>__utmz</td>
                    <td>Съхранява източника на трафик или кампанията</td>
                    <td>6 месеца</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <h3>Facebook</h3>

    <p>Facebook използва бисквитки за рекламни цели. Повече информация можете да намерите <a href="https://www.facebook.com/privacy/policies/cookies/" class="link">тук</a>.</p>

    <table class="m-auto mt-10 w-full">
        <caption class="caption-bottom italic">
            Таблица 2: Бисквитки, използвани от Facebook
        </caption>
        <thead>
            <tr>
                <th>Име на бисквитката</th>
                <th>Цел</th>
                <th>Валидност</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>tr</td>
                <td>Използва се за проследяване на действията на потребителите</td>
                <td>Сесия</td>
            </tr>
            <tr>
                <td>fr</td>
                <td>Използва се за рекламни цели</td>
                <td>3 месерца</td>
            </tr>
        </tbody>
    </table>

    <br>
    <h2 #how_to_turn_off>3. Как да изключите бисквитките?</h2>
    <br>
    <p>Ако не искате да приемате бисквитки, можете да промените настройките на вашия браузър,
        така че бисквитките да не бъдат приемани. Тези настройки обикновено се намират в менюто „опции“
        или „предпочитания“ на вашия браузър.</p>
    <ul class="list-inside list-disc mt-5">
        <li>
            <a href="https://support.microsoft.com/en-us/windows/delete-and-manage-cookies-168dab11-0753-043d-7c16-ede5947fc64d" class="link">Internet Explorer</a>
        </li>
        <li>
            <a href="https://support.mozilla.org/en-US/kb/enhanced-tracking-protection-firefox-desktop" class="link">Firefox</a>
        </li>
        <li>
            <a href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop%26hl%3Den" class="link">Chrome</a>
        </li>
        <li>
            <a href="https://support.apple.com/en-gb/guide/safari/sfri11471/mac" class="link">Safari</a>
        </li>

    </ul>

    <br>
    <h2 #contact>4. Как да се свържете с нас?</h2>
    <br>
    <p>Моля, свържете се с нас, ако имате въпроси относно тази политика.
    <br>
    <b>Име на юридическото лице</b>: Деникс Лабс ЕООД
    <b>Имейл</b>: info&#64;denixlabs.com
    </p>
    <br>
    <h2 #changes>5. Промени в тази политика</h2>
    <br>
    <p>Тази версия е последно актуализирана на 3 март 2025 г. и предишни версии могат да бъдат получени при запитване.</p>
</div>


