<div class="content w-full lg:w-4xl m-auto my-20 px-8">

    <h1 i18n="@@legal.cookiePolicy.title">Cookie Policy</h1>

    <p i18n="@@legal.cookiePolicy.intro">This cookie policy will inform you how we use cookies when you visit our
        website, and will tell you about the purposes for which we use them. We provide it in a structured format,
        so you can navigate to specific sections below.
    </p>

    <div id="toc_container">
        <p class="toc_title" i18n="@@legal.cookiePolicy.toc.title">Contents</p>
        <ul class="toc_list">
          <li><a (click)="scrollToElement(what_is_a_cookie)" class="link" i18n="@@legal.cookiePolicy.toc.whatIsACookie">1. What is a cookie?</a>
            <li><a (click)="scrollToElement(our_cookies)" class="link" i18n="@@legal.cookiePolicy.toc.ourCookies">2. What specific cookies do we use on denixlabs.com?</a></li>
            <li><a (click)="scrollToElement(how_to_turn_off)" class="link" i18n="@@legal.cookiePolicy.toc.howToTurnOff">3. How to turn off cookies?</a></li>
            <li><a (click)="scrollToElement(contact)" class="link" i18n="@@legal.cookiePolicy.toc.contact">4. How to contact us?</a></li>
            <li><a (click)="scrollToElement(changes)" class="link" i18n="@@legal.cookiePolicy.toc.changes">5. Changes to this policy</a></li>
        </ul>
    </div>
    <br>
    <h2 #what_is_a_cookie i18n="@@legal.cookiePolicy.whatIsACookie.title">1. What is a cookie?</h2>
    <br>
    <p i18n="@@legal.cookiePolicy.whatIsACookie.definition">A cookie is a small text file that is placed on your computer or other electronic device
        when you visit our website.</p>
    <br>
    <h3 i18n="@@legal.cookiePolicy.whatIsACookie.typesTitle">Cookie Types</h3>

    <p i18n="@@legal.cookiePolicy.whatIsACookie.typesContent">There are different types of cookies:
        <br><br>
        <b>First and third party cookies</b> – whether a cookie is "first" or "third" party depends on the domain
        that places it. First party cookies are those set by us on the website you
        visit (for example cookies placed by www.denixlabs.com).
        <br>
        <b>Session cookies</b> – they allow our website to link your actions during a specific
        browser session. These cookies expire every time you close your browser and do not remain on your device;
        <br>
        <b>Persistent cookies</b> – they are stored on your device between browser sessions. They allow
            your preferences or actions on our website to be remembered. They remain on your device until they
            expire or until you delete them from your cache.
        <br>
        <b>Strictly necessary cookies</b> – these cookies are essential for you to be able to navigate our website and use its features. Without them we cannot provide the services you have requested;
        <br>
        <b>Performance cookies</b> – these cookies collect information about how you use our website, such as which pages you visit most often. They do not collect personal information about you. All information collected by these cookies is aggregated and anonymous and is used only to improve the performance of our website;
        <br>
        <b>Functional cookies</b> – these cookies allow our website to remember your choices (such as username, language, last action, and search preferences) and provide better, personalized features. The information collected by these cookies is anonymous and cannot track your activity on other websites.
    </p>
    <br>
    <h2 #our_cookies i18n="@@legal.cookiePolicy.ourCookies.title">2. What specific cookies do we use on denixlabs.com?</h2>
    <br>
    <p i18n="@@legal.cookiePolicy.ourCookies.intro">You can find more information about the individual cookies we use and the purposes for which we use them in the tables below:</p>

    <br>
    <h3 i18n="@@legal.cookiePolicy.googleAnalytics.title">Google Analytics</h3>
    <p i18n="@@legal.cookiePolicy.googleAnalytics.description">Google Analytics is a web analytics service provided by Google, Inc.
        It sets a cookie to evaluate your use of our website and compile reports on activity.</p>

    <div style="overflow-x:hidden;">
        <table class="m-auto mt-10 w-full">
            <caption class="caption-bottom italic" i18n="@@legal.cookiePolicy.googleAnalytics.tableCaption">
                Table 1: Cookies used by Google Analytics
            </caption>
            <thead>
                <tr>
                    <th i18n="@@legal.cookiePolicy.table.cookieName">Cookie Name</th>
                    <th i18n="@@legal.cookiePolicy.table.purpose">Purpose</th>
                    <th i18n="@@legal.cookiePolicy.table.validity">Validity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>_ga</td>
                    <td i18n="@@legal.cookiePolicy.googleAnalytics._ga">Used to distinguish users</td>
                    <td i18n="@@legal.cookiePolicy.googleAnalytics._ga.validity">14 months</td>
                </tr>
                <tr>
                    <td>_gid</td>
                    <td i18n="@@legal.cookiePolicy.googleAnalytics._gid">Used to distinguish users</td>
                    <td i18n="@@legal.cookiePolicy.googleAnalytics._gid.validity">24 hours</td>
                </tr>
                <tr>
                    <td>_gat</td>
                    <td i18n="@@legal.cookiePolicy.googleAnalytics._gat">Used to limit the request rate</td>
                    <td i18n="@@legal.cookiePolicy.googleAnalytics._gat.validity">1 minute</td>
                </tr>
                <tr>
                    <td>__utma</td>
                    <td i18n="@@legal.cookiePolicy.googleAnalytics.__utma">Distinguishes users and sessions</td>
                    <td i18n="@@legal.cookiePolicy.googleAnalytics.__utma.validity">14 months</td>
                </tr>
                <tr>
                    <td>__utmz</td>
                    <td i18n="@@legal.cookiePolicy.googleAnalytics.__utmz">Stores the traffic source or campaign</td>
                    <td i18n="@@legal.cookiePolicy.googleAnalytics.__utmz.validity">6 months</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <h3 i18n="@@legal.cookiePolicy.facebook.title">Facebook</h3>

    <p i18n="@@legal.cookiePolicy.facebook.description">Facebook uses cookies for advertising purposes. More information can be found <a href="https://www.facebook.com/privacy/policies/cookies/" class="link">here</a>.</p>

    <table class="m-auto mt-10 w-full">
        <caption class="caption-bottom italic" i18n="@@legal.cookiePolicy.facebook.tableCaption">
            Table 2: Cookies used by Facebook
        </caption>
        <thead>
            <tr>
                <th i18n="@@legal.cookiePolicy.table.cookieName">Cookie Name</th>
                <th i18n="@@legal.cookiePolicy.table.purpose">Purpose</th>
                <th i18n="@@legal.cookiePolicy.table.validity">Validity</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>tr</td>
                <td i18n="@@legal.cookiePolicy.facebook.tr">Used to track user actions</td>
                <td i18n="@@legal.cookiePolicy.facebook.tr.validity">Session</td>
            </tr>
            <tr>
                <td>fr</td>
                <td i18n="@@legal.cookiePolicy.facebook.fr">Used for advertising purposes</td>
                <td i18n="@@legal.cookiePolicy.facebook.fr.validity">3 months</td>
            </tr>
        </tbody>
    </table>

    <br>
    <h2 #how_to_turn_off i18n="@@legal.cookiePolicy.howToTurnOff.title">3. How to turn off cookies?</h2>
    <br>
    <p i18n="@@legal.cookiePolicy.howToTurnOff.content">If you don't want to accept cookies, you can change your browser settings
        so that cookies are not accepted. These settings are usually found in the "options"
        or "preferences" menu of your browser.</p>
    <ul class="list-inside list-disc mt-5">
        <li>
            <a href="https://support.microsoft.com/en-us/windows/delete-and-manage-cookies-168dab11-0753-043d-7c16-ede5947fc64d"p class="link">Internet Explorer</a>
        </li>
        <li>
            <a href="https://support.mozilla.org/en-US/kb/enhanced-tracking-protection-firefox-desktop" class="link">Firefox</a>
        </li>
        <li>
            <a href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform=Desktop&hl=en" class="link">Chrome</a>
        </li>
        <li>
            <a href="https://support.apple.com/en-gb/guide/safari/sfri11471/mac" class="link">Safari</a>
        </li>

    </ul>

    <br>
    <h2 #contact i18n="@@legal.cookiePolicy.contact.title">4. How to contact us?</h2>
    <br>
    <div i18n="@@legal.cookiePolicy.contact.content">
        <p>Please contact us if you have questions about this policy.</p>
        <br>
        <p><b>Company name</b>: Denix Labs Ltd.</p>
        <p><b>Email</b>: info&#64;denixlabs.com</p>
    </div>
    <br>
    <h2 #changes i18n="@@legal.cookiePolicy.changes.title">5. Changes to this policy</h2>
    <br>
    <p i18n="@@legal.cookiePolicy.changes.content">This version was last updated on March 3, 2025 and previous versions may be obtained upon request.</p>
</div>


